@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e1e1e;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* light theme colors */
   --animate-rotate360: rotate360 20s ease-in-out infinite;
 @keyframes rotate360 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
}

@layer utilities {
  

  
  .scrollbar-custom {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color:  #06062a #4d4e69; /* thumb color and track color */
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 10px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #2b295c; /* Indigo-600 */
    border-radius: 9999px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #e5e7eb; /* Gray-200 */
  }
}


/* light background color palate */
/* background: '#eff0f2',
        card: '#FFFFFF',
        border: '#E0E0E0',
        textPrimary: '#1A1A1A',
        textSecondary: '#6C757D',
        buy: '#28A745',
        sell: '#DC3545',
        buyHighlight: '#E9F7EF',
        sellHighlight: '#FDECEA',
        midPrice: '#007BFF', */



