@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e1e1e;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* light theme colors */
   --animate-rotate360: rotate360 20s ease-in-out infinite;
 @keyframes rotate360 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
}

@layer utilities {
  

  
  .scrollbar-custom {
    scrollbar-width: thin; /* Firefox */
    /* scrollbar-color:  #06062a #4d4e69; */
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 10px;
  }


  /* .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  } */

  /* .scrollbar-custom::-webkit-scrollbar-track {
    background: #e5e7eb; 
  } */
}

.partShadowAirdrop {
  background:inherit;
}
.partShadowAirdrop::after,
.partShadowAirdrop::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from -75deg,
    transparent 40%,
    rgb(70, 199, 70),
    transparent
  );
  opacity: 0.6;
  bottom: 49.8%;
  right: 50%;
  translate: 50% 50%;
  z-index: -1;
  border-radius: 100px;
}

.partShadowAirdrop::before {
  filter: blur(100px);
  opacity: 1;
}

/* css for root page (getstartedheading) */
.partShadowGetstarted {
  background:inherit;
}
.partShadowGetstarted::after,
.partShadowGetstarted::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from -75deg,
    transparent 40%,
    rgb(70, 199, 70),
    transparent
  );
  opacity: 0.6;
  bottom: 49%;
  right: 50%;
  translate: 50% 50%;
  z-index: -1;
  border-radius: 100px;
}

.partShadowGetstarted::before {
  filter: blur(50px);
  opacity: 1;
}

/* css for root page (featurepageheading) */

.partShadowFeature {
  background:inherit;
}
.partShadowFeature::after,
.partShadowFeature::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from 110deg,
    transparent 40%,
    rgb(70, 199, 70),rgb(70, 199, 70),
    transparent
  );
  opacity: 0.6;
  bottom: 52%;
  right: 50%;
  translate: 50% 50%;
  z-index: -1;
  border-radius: 100px;
}
.partShadowFeature::before {
  filter: blur(50px);
  opacity: 1;
}

/* marketing root */
.partShadowMarketing1 {
  background:inherit;
}
.partShadowMarketing1::after,
.partShadowMarketing1::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from -140deg,
    transparent 60%,
    rgb(70, 199, 70),
    transparent
  );
  opacity: 0.6;
  bottom: 0;
  right: 0;
  translate: 1px 1px;
  z-index: -1;
  border-radius: 8px;
}

.partShadowMarketing2 {
  background:inherit;
}
.partShadowMarketing2::after,
.partShadowMarketing2::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from -180deg,
    transparent 66%,
    rgb(70, 199, 70),
    transparent
  );
  opacity: 0.6;
  bottom: 0;
  right: 0;
  translate: 1px 1px;
  z-index: -1;
  border-radius: 8px;
}

/* Footer */
.partShadowFooterLeft {
  background:inherit;
}
.partShadowFooterLeft::after,
.partShadowFooterLeft::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from -62deg,
    transparent 90%,
    rgb(70, 199, 70),
    transparent
  );
  opacity: 0.6;
  bottom: 0;
  left: 0;
  translate: -1px -1px;
  z-index: -1;
  border-radius: 6px;
}
.partShadowFooterLeft::before {
  filter: blur(180px);
  opacity: 1;
}
.partShadowFooterRight {
  background:inherit;
}
.partShadowFooterRight::after,
.partShadowFooterRight::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from 92deg,
    transparent 90%,
    rgb(70, 199, 70),
    transparent
  );
  opacity: 0.6;
  bottom: 0;
  right: 0;
  translate: 1px -1px;
  z-index: -1;
  border-radius: 6px;
}
.partShadowFooterRight::before {
  filter: blur(180px);
  opacity: 1;
}


/* stake */
.partShadowStake {
  background:inherit;
}
.partShadowStake::after,
.partShadowStake::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from -110deg,
    transparent 60%,
    rgb(70, 199, 70),rgb(38, 171, 38),
    transparent
  );
  opacity: 0.6;
  bottom: 0%;
  right: 0%;
  translate:  0px 1px;
  z-index: -1;
  border-radius: 100px;
}
.partShadowStake::before {
  /* filter: blur(50px); */
  opacity: 1;
}

/* light background color palate */
/* background: '#eff0f2',
        card: '#FFFFFF',
        border: '#E0E0E0',
        textPrimary: '#1A1A1A',
        textSecondary: '#6C757D',
        buy: '#28A745',
        sell: '#DC3545',
        buyHighlight: '#E9F7EF',
        sellHighlight: '#FDECEA',
        midPrice: '#007BFF', */


